.invoice{
    background-color:
    white; margin-top: 5px;
    margin-bottom: 5px;
    margin-left:0px;
    margin-right:0px;
    padding:0px
}

h3 h6{
    margin: 0px;
    color: #999999;
}

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}
.wraptocenter * {
    vertical-align: middle;
}
