

.description {
    font-family: LucidaGrande;
    font-size: 18px;
    color: #999999;
    line-height: 21px;
}

.money {
    font-family: LucidaGrande;
    font-size: 64px;
    color: #FFA330;
    line-height: 76px;
}
.money-subscript{
    font-family: LucidaGrande;
    font-size: 14px;
    color: #999999;
    line-height: 17px;
}




